@use "screen";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Special+Elite&display=swap');

$bg-primary: #371809;
$bg-secondary: #d5814a;
$text-primary: #FFF;
$text-secondary: #fbddd4;
$btn-primary: #5ec236;
$btn-secondary: #40e081;
$btn-highlight: #bfec39;

$z0-box-width: screen.$screen-width - 32;
$z0-box-height: screen.$screen-height - 32;
$z1-box-width: none;
$z1-box-height: none;
$z2-box-width: none;
$z2-box-height: none;
$z3-box-width: none;
$z3-box-height: none;
$z4-box-width: none;
$z4-box-height: none;
$z5-box-width: none;
$z5-box-height: none;

@mixin root($color: $bg-primary, $spacing: screen.$rem) {
    width: screen.$screen-width;
    -fx-pref-width: screen.$screen-width;
    height: screen.$screen-height;
    -fx-pref-height: screen.$screen-height;

    padding: 2*screen.$rem;
    -fx-padding: 2*screen.$rem;

    background-color: $color;
    -fx-background-color: $color;

    -fx-alignment: center;
    -fx-spacing: $spacing;
}

@mixin component($layer, $width-percent, $height-percent) {
    $parent-width: map-get((
        0 : $z0-box-width,
        1 : $z1-box-width,
        2 : $z2-box-width,
        3 : $z3-box-width,
        4 : $z4-box-width,
        5 : $z5-box-width
    ), $layer - 1);

    $parent-height: map-get((
        0 : $z0-box-height,
        1 : $z1-box-height,
        2 : $z2-box-height,
        3 : $z3-box-height,
        4 : $z4-box-height,
        5 : $z5-box-height
    ), $layer - 1);

    width: $width-percent * $parent-width;
    -fx-pref-width: $width-percent * $parent-width;
    height: $height-percent * $parent-height;
    -fx-pref-height: $height-percent * $parent-height;
}

@mixin box($layer, $width-percent, $height-percent, $margin-rem: 0, $padding-rem: 0) {
    @include component($layer, $width-percent, $height-percent);

    margin: $margin-rem * screen.$rem;
    -fx-margin: $margin-rem * screen.$rem;
    padding: $padding-rem * screen.$rem;
    -fx-padding: $padding-rem * screen.$rem;

    $spacing: ($margin-rem + $padding-rem) * screen.$rem;

    @if $layer == 1 {
        $z1-box-width: $width-percent * $z0-box-width - $spacing;
        $z1-box-height: $height-percent * $z0-box-height - $spacing;
    }
    @else if $layer == 2 {
        $z2-box-width: $width-percent * $z1-box-width - $spacing;
        $z2-box-height: $height-percent * $z1-box-height - $spacing;
    }
    @else if $layer == 3 {
        $z3-box-width: $width-percent * $z2-box-width - $spacing;
        $z3-box-height: $height-percent * $z2-box-height - $spacing;
    }
    @else if $layer == 4 {
        $z4-box-width: $width-percent * $z3-box-width - $spacing;
        $z4-box-height: $height-percent * $z3-box-height - $spacing;
    }
    @else if $layer == 5 {
        $z5-box-width: $width-percent * $z4-box-width - $spacing;
        $z5-box-height: $height-percent * $z4-box-height - $spacing;
    }
}

@mixin button($layer, $width-percent, $height-percent) {
    @include component($layer, $width-percent, $height-percent);

    background-color: $btn-primary;
    -fx-background-color: $btn-primary;
    -fx-background-radius: screen.$rem + 4;

    border-color: $btn-highlight;
    -fx-border-color: $btn-highlight;
    border-width: 0.25 * screen.$rem;
    -fx-border-width: 0.25 * screen.$rem;
    border-radius: screen.$rem;
    -fx-border-radius: screen.$rem;
}

@mixin text() {
    fill: $text-primary;
    -fx-fill: $text-primary;
}

@mixin text-with-font($font:none, $font-size-rem:none) {
    @include text();

    font-family: $font;
    -fx-font-family: $font;
    font-size: $font-size-rem * screen.$rem;
    -fx-font-size: $font-size-rem * screen.$rem;
}

// .menu-button {
//     @include global.primary-box(1/12, 1/10);
    
//     background-color: #19B066;
//     -fx-background-color: #19B066;
//     -fx-background-radius: screen.$rem;
//     border-color: #6CE10F;
//     -fx-border-color: #6CE10F;
//     border-width: 4px;
//     -fx-border-width: 4px;
//     border-radius: screen.$rem;
//     -fx-border-radius: screen.$rem;
//     font-size: 24px;
//     -fx-font-size: 24px;
// }
