@use "sass:string";
@use "screen";
@use "boxes";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Special+Elite&display=swap');

$bg-primary: #371809;
$bg-secondary: #d5814a;
$text-primary: #FFF;
$text-secondary: #fbddd4;
$btn-primary: #5ec236;
$btn-secondary: #40e081;
$btn-highlight: #bfec39;

@mixin component($parent, $width-percent: 1, $height-percent: 1) {
    $parent-width: boxes.get-width($parent);
    width: $width-percent * $parent-width;
    -fx-pref-width: $width-percent * $parent-width;
    $temp-width: $width-percent * $parent-width !global;

    $parent-height: boxes.get-height($parent);
    height: $height-percent * $parent-height;
    -fx-pref-height: $height-percent * $parent-height;
    $temp-height: $height-percent * $parent-height !global;
}

@mixin root($color: $bg-primary, $spacing: screen.$rem) {
    @include component($parent: 0);

    padding: 2*screen.$rem;
    -fx-padding: 2*screen.$rem;

    background-color: $color;
    -fx-background-color: $color;

    -fx-alignment: center;
    -fx-spacing: $spacing;
}

@mixin box($layer, $parent, $width-percent, $height-percent, $margin-rem: 0, $padding-rem: 0) {
    @include component($parent, $width-percent, $height-percent);

    margin: $margin-rem * screen.$rem;
    -fx-margin: $margin-rem * screen.$rem;
    padding: $padding-rem * screen.$rem;
    -fx-padding: $padding-rem * screen.$rem;

    $spacing: ($margin-rem + $padding-rem) * screen.$rem;

    @include boxes.add-child($layer, $parent, $temp-width - $spacing, $temp-height - $spacing);
}

@mixin button($parent, $width-percent, $height-percent) {
    @include component($parent, $width-percent, $height-percent);

    background-color: $btn-primary;
    -fx-background-color: $btn-primary;
    -fx-background-radius: screen.$rem + 4;

    border-color: $btn-highlight;
    -fx-border-color: $btn-highlight;
    border-width: 0.25 * screen.$rem;
    -fx-border-width: 0.25 * screen.$rem;
    border-radius: screen.$rem;
    -fx-border-radius: screen.$rem;
}

@mixin text() {
    fill: $text-primary;
    -fx-fill: $text-primary;
}

@mixin text-with-font($font:none, $font-size-rem:none) {
    @include text();

    font-family: $font;
    -fx-font-family: $font;
    font-size: $font-size-rem * screen.$rem;
    -fx-font-size: $font-size-rem * screen.$rem;
}

// .menu-button {
//     @include global.primary-box(1/12, 1/10);
    
//     background-color: #19B066;
//     -fx-background-color: #19B066;
//     -fx-background-radius: screen.$rem;
//     border-color: #6CE10F;
//     -fx-border-color: #6CE10F;
//     border-width: 4px;
//     -fx-border-width: 4px;
//     border-radius: screen.$rem;
//     -fx-border-radius: screen.$rem;
//     font-size: 24px;
//     -fx-font-size: 24px;
// }