@use "screen";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Special+Elite&display=swap');

$bg-primary: #371809;
$bg-secondary: #d5814a;
$text-primary: #FFF;
$text-secondary: #fbddd4;
$btn-primary: #5ec236;
$btn-secondary: #40e081;
$btn-highlight: #bfec39;

$z0-box-width: screen.$screen-width;
$z0-box-height: screen.$screen-height;
$z1-box-width: none;
$z1-box-height: none;
$z2-box-width: none;
$z2-box-height: none;
$z3-box-width: none;
$z3-box-height: none;
$z4-box-width: none;
$z4-box-height: none;
$z5-box-width: none;
$z5-box-height: none;

@mixin root($color: $bg-primary, $spacing: screen.$rem) {
    width: $z0-box-width;
    -fx-pref-width: $z0-box-width;
    height: $z0-box-height;
    -fx-pref-height: $z0-box-height;

    padding: 2*screen.$rem;
    -fx-padding: 2*screen.$rem;

    background-color: $color;
    -fx-background-color: $color;

    -fx-alignment: center;
    -fx-spacing: $spacing;
}

@mixin box($layer, $width-percent, $height-percent, $set-vars: false) {
    $parent-width: map-get((
        1 : $z0-box-width,
        2 : $z1-box-width,
        3 : $z2-box-width,
        4 : $z3-box-width,
        5 : $z4-box-width,
        6 : $z5-box-width
    ), $layer);

    $parent-height: map-get((
        1 : $z0-box-height,
        2 : $z1-box-height,
        3 : $z2-box-height,
        4 : $z3-box-height,
        5 : $z4-box-height,
        6 : $z5-box-height
    ), $layer);

    width: $width-percent * $parent-width;
    -fx-pref-width: $width-percent * $parent-width;
    height: $height-percent * $parent-height;
    -fx-pref-height: $height-percent * $parent-height;

    @if $set-vars {
        @if $layer == 1 {
            $z1-box-width: $width-percent * $z0-box-width;
            $z1-box-height: $height-percent * $z0-box-height;
        }
        @else if $layer == 2 {
            $z2-box-width: $width-percent * $z0-box-width;
            $z2-box-height: $height-percent * $z0-box-height;
        }
        @else if $layer == 3 {
            $z3-box-width: $width-percent * $z0-box-width;
            $z3-box-height: $height-percent * $z0-box-height;
        }
        @else if $layer == 4 {
            $z4-box-width: $width-percent * $z0-box-width;
            $z4-box-height: $height-percent * $z0-box-height;
        }
        @else if $layer == 5 {
            $z5-box-width: $width-percent * $z0-box-width;
            $z5-box-height: $height-percent * $z0-box-height;
        }
    }
}

@mixin button {
    background-color: $btn-primary;
    -fx-background-color: $btn-primary;
    -fx-background-radius: screen.$rem + 4;

    border-color: $btn-highlight;
    -fx-border-color: $btn-highlight;
    border-width: 0.25 * screen.$rem;
    -fx-border-width: 0.25 * screen.$rem;
    border-radius: screen.$rem;
    -fx-border-radius: screen.$rem;
}

@mixin text($set-font: false, $font:none, $font-size-rem:none) {
    fill: $text-primary;
    -fx-fill: $text-primary;
    
    @if $set-font {
        font-family: $font;
        -fx-font-family: $font;
        font-size: $font-size-rem * screen.$rem;
        -fx-font-size: $font-size-rem * screen.$rem;
    }
}

// .menu-button {
//     @include global.primary-box(1/12, 1/10);
    
//     background-color: #19B066;
//     -fx-background-color: #19B066;
//     -fx-background-radius: screen.$rem;
//     border-color: #6CE10F;
//     -fx-border-color: #6CE10F;
//     border-width: 4px;
//     -fx-border-width: 4px;
//     border-radius: screen.$rem;
//     -fx-border-radius: screen.$rem;
//     font-size: 24px;
//     -fx-font-size: 24px;
// }
