@use "sass:string";
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Special+Elite&display=swap');

$rem: 16px;

$bg-primary: #371809;
$bg-secondary: #d5814a;
$text-primary: #FFF;
$text-secondary: #fbddd4;
$btn-primary: #5ec236;
$btn-secondary: #40e081;
$btn-highlight: #bfec39;

@mixin root($color: $bg-primary, $align: center, $spacing: $rem) {
    padding: 2*$rem;
    -fx-padding: 2*$rem;

    background-color: $color;
    -fx-background-color: $color;

    -fx-alignment: $align;
    -fx-spacing: $spacing;
}

@mixin button() {
    background-color: $btn-primary;
    -fx-background-color: $btn-primary;
    -fx-background-radius: $rem + 4;

    border-color: $btn-highlight;
    -fx-border-color: $btn-highlight;
    border-width: 0.25 * $rem;
    -fx-border-width: 0.25 * $rem;
    border-radius: $rem;
    -fx-border-radius: $rem;
}

@mixin text() {
    fill: $text-primary;
    -fx-fill: $text-primary;
}

@mixin text-with-font($font:none, $font-size-rem:none) {
    @include text();

    font-family: $font;
    -fx-font-family: $font;
    font-size: $font-size-rem * $rem;
    -fx-font-size: $font-size-rem * $rem;
}

@mixin image($img) {
    background-image: url($img);
    -fx-background-image: url($img);
    background-size: contain;
    -fx-background-size: contain;
    background-repeat: no-repeat;
    -fx-background-repeat: no-repeat;
    background-position: center;
    -fx-background-position: center;
}
