@import url('https://fonts.googleapis.com/css2?family=Anton&family=Shadows+Into+Light+Two&display=swap');

.container {
    width: 840px;
    -fx-pref-width: 840px;
    height: 630px;
    -fx-pref-height: 630px;
    background-color: #421D14;
    -fx-background-color: #421D14;
    -fx-alignment: center;
    -fx-spacing: 24px;
}

.title {
    font-family: "Anton", sans-serif;
    -fx-font-family: "Anton", sans-serif;
    font-size: 64px;
    -fx-font-size: 64px;
    fill: white;
    -fx-fill: white;
}

.subtitle {
    font-family: "Shadows Into Light Two", cursive;
    -fx-font-family: "Shadows Into Light Two", cursive;
    font-size: 24px;
    -fx-font-size: 24px;
    fill: white;
    -fx-fill: white;
}
