@import "global.css";

.container {
    -fx-spacing: 0px;
}

.event-history {
    width: 25%;
    -fx-pref-width: 210px;
    background-color: #5D372E;
    -fx-background-color: #5D372E;
    -fx-alignment: top-left;
    -fx-spacing: 24px;
}

.game-container {
    width: 630px;
    -fx-pref-width: 630px;
    -fx-alignment: top-right;
}
