@import "global.css";

.container {
    -fx-spacing: 0px;
}

.avatar-container {
    width: 630px;
    -fx-pref-width: 630px;
    height: 315px;
    -fx-pref-height: 315px;
}

.avatar-icon {
    width: 64px;
    -fx-pref-width: 64px;
    height: 64px;
    -fx-pref-height: 64px;
}
